html {
background-color: #dfe0e2;
font-family: 'Roboto Mono';
}

.jumbotron {
  background-color: #dfe0e2;
}

.display-1 {
  font-family: 'Bebas Neue';
}

.lead {
  font-family: 'Roboto Mono';
  font-size: 2em;
}

.nav-item {
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
  color: #eb5160;
}

