html {
font-family: 'Roboto Mono';
}



.display-1 {
  font-family: 'Bebas Neue';
  color: #200116;
}

.lead {
  font-family: 'Roboto Mono';
  font-style: oblique;
  font-size: 2em;
}

.navbar {
  background-color: #200116;
}

.nav-item {
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
  font-weight: bold;
}

